*{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body{
  /* background-color: blueviolet; */
  color: white;
}

body , html{
  height: 100vh;
/* font-  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#main{
  border:solid 1px;
}